@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #06255b;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.guide,
.newsletter,
.card-group,
.form-container {
  margin-bottom: 40px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("img/elec-1.png");
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: #ffffff;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-group input[type="text"],
.input-group button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  margin: 10px 0;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box; /* Add this line */
}

.input-group input[type="text"] {
  border: none;
}

.input-group input[type="text"]:focus {
  outline: 2px solid #1bd8c4;
}

button[type="submit"] {
  border: 1px solid transparent;
  background-color: #1bd8c4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ffffff;
  color: #1bd8c4;
  border: 1px solid #1bd8c4;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  flex: 1 1 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.preview svg {
  margin-right: 5px;
}

button.select-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1bd8c4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  width: 100%;
}

button.select-btn:hover {
  background-color: #ffffff;
  color: #1bd8c4;
  border: 1px solid #1bd8c4;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group,
.form-group-amount,
.email-inputs,
.radio-group {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.form-group input,
.form-group-amount input,
.email-inputs input,
.radio-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 15px;
  transition: 0.2s ease all;
}

.form-group input:focus ~ .floating-label,
.form-group input:not(:placeholder-shown) ~ .floating-label,
.form-group textarea:focus ~ .floating-label,
.form-group textarea:not(:placeholder-shown) ~ .floating-label {
  top: -15px;
  font-size: 12px;
  color: #1bd8c4;
}

/* Mobile styles */
@media (max-width: 600px) {
  .newsletter {
    padding: 50px 20px;
  }

  .newsletter h1 {
    font-size: 30px;
  }

  .newsletter p {
    font-size: 16px;
    width: 100%;
  }

  .steps {
    flex-direction: column;
  }

  .card-group {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 300px;
  }
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
  .newsletter {
    padding: 80px 40px;
  }

  .newsletter h1 {
    font-size: 35px;
  }

  .newsletter p {
    font-size: 18px;
  }

  .steps {
    flex-direction: column;
  }

  .card-group {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 45%;
    max-width: none;
  }
}

/* Desktop styles */
@media (min-width: 1025px) {
  .newsletter {
    padding: 100px 60px;
  }

  .newsletter h1 {
    font-size: 45px;
  }

  .newsletter p {
    font-size: 20px;
  }

  .steps {
    flex-direction: row;
    justify-content: space-between;
  }

  .card-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    width: 22%;
    max-width: none;
  }
}
